.toparea{
    /* width: 100%;
    height: 100px; */
    padding: 25px 0;

}
.toparea img{
    width: 80px;
    height: 80px;
    float: right;
    /* margin-left: 380px;*/
    margin-top: 5px; 
    color: orange !important;
}
.toparea h2{
    margin-top: 10px;
    font-family: cursive;
    font-size: 35px;
    font-weight: bolder;
}
.toparea p{
    margin-left: 20px;
    font-family: arial;
    font-weight: bold;
    
}
.navbar-brand{
    font-family: fantasy;
    font-size: 30px;
   
}
.menuarea img{
    width: 50px;
    height:50px;
    float: left;
    margin-right: 5px;
    margin-top: 5px; 
}  
 ul li a{
    font-weight: bolder;
    font-family: cursive;
    font-size: 18px;
}
 ul li a i{
    margin: 5px;
} 
 .nav{
    margin-left: 220px;
    margin-top: -50px;
}
.navbar{
  margin-left: 80px;
}
#myCarousel {
     width: 100%;
    /* height: 500px;  */
    background: white !important; 
     
} 
#myCarousel .carousel-item .mask {
  position: absolute;
  top: 0;
left:0;
bottom: 0;
/* height:100%; */
  width: 100%;
  background-attachment: fixed;
}
#myCarousel h4{
font-size:50px;
margin-bottom:15px;
color:black;
line-height:100%;
letter-spacing:0.5px;
font-weight:600;
}
#myCarousel p{
font-size:18px;
margin-bottom:15px;
color:#F47735;
}
#myCarousel .carousel-item a{background:#F47735; font-size:14px; color:#FFF; padding:13px 32px; display:inline-block; }
#myCarousel .carousel-item a:hover{background:#394fa2; text-decoration:none;  }

#myCarousel .carousel-item h4{-webkit-animation-name:fadeInLeft; animation-name:fadeInLeft;} 
#myCarousel .carousel-item p{-webkit-animation-name:slideInRight; animation-name:slideInRight;} 
#myCarousel .carousel-item a{-webkit-animation-name:fadeInUp; animation-name:fadeInUp;}
#myCarousel .carousel-item .mask img{-webkit-animation-name:slideInRight; animation-name:slideInRight; display:block; height:auto; max-width:100%;}
#myCarousel h4, #myCarousel p, #myCarousel a, #myCarousel .carousel-item .mask img{-webkit-animation-duration: 1s;
  animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
#myCarousel .container {max-width: 1430px;  }
#myCarousel .carousel-item{height:auto; min-height:550px; }
#myCarousel{position:relative; z-index:1; background:url(https://i.imgur.com/6axE29k.jpg) center center no-repeat; background-size:cover; }

.carousel-control-next, .carousel-control-prev{height:40px; width:40px; padding:12px; top:50%; bottom:auto; transform:translateY(-50%); background-color: #f47735; }


.carousel-item {
  position: relative;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  transition: -webkit-transform .6s ease;
  transition: transform .6s ease;
  transition: transform .6s ease,-webkit-transform .6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
.carousel-fade .carousel-item {
opacity: 0;
-webkit-transition-duration: .6s;
transition-duration: .6s;
-webkit-transition-property: opacity;
transition-property: opacity
}
.carousel-fade .carousel-item-next.carousel-item-left, .carousel-fade .carousel-item-prev.carousel-item-right, .carousel-fade .carousel-item.active {
opacity: 1
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-right.active {
opacity: 0
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
-webkit-transform: translateX(0);
-ms-transform: translateX(0);
transform: translateX(0)
}
@supports (transform-style:preserve-3d) {
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
-webkit-transform:translate3d(0, 0, 0);
transform:translate3d(0, 0, 0)
}
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}



@-webkit-keyframes fadeInLeft {
from {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}

@keyframes fadeInLeft {
from {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}

.fadeInLeft {
-webkit-animation-name: fadeInLeft;
animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
from {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}

@keyframes fadeInUp {
from {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}

.fadeInUp {
-webkit-animation-name: fadeInUp;
animation-name: fadeInUp;
}

@-webkit-keyframes slideInRight {
from {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  visibility: visible;
}

to {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}

@keyframes slideInRight {
from {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  visibility: visible;
}

to {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}

.slideInRight {
-webkit-animation-name: slideInRight;
animation-name: slideInRight;
}

.slidearea{
    /* width: 100%;
    height: 500px; */
    background: url('img/blur.jpg') fixed;
    background-size: cover;
    padding: 15px 0 0 0;
}
.upper{
    /* width: 100%; */
    padding: 10px 30px 0 0;
    /* height: 150px; */
    /* background: rosybrown; */
}
.upper p{
    text-align: center;
    padding:5px 0 0 0;
    font-weight: bold;
    font-size: 19px;
}
/*.upper*/ h3{
  padding: 0 0 50px 0;
    text-align: center;
    font-size: 45px;
    font-family: cursive ;
    overflow: hidden;
}
/*.upper*/ h3:before,
/*.upper*/ h3:after{
    content: "";
    width: 10%;
    height: 3px;
    background:black;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
/*.upper*/ h3:before{
    right: 10px;
    margin-left: -50%;
}
/*.upper*/ h3:after{
    left: 10px;
    margin-right: -50%;
}

.box{
    
    padding: 30px 30px ;
  
}
.box img{
    width:100%;
    height:240px;
    border-radius: 50%;
}
.boxarea{
  padding: 20px 0;
  background-color: white;
}
.box1{
  
  width: 100%;
  padding: 40px 150px 40px 20px ;
  border-radius: 20px 20px;
  background: blanchedalmond;
}
.box1 h1{
  text-align: center;
  padding-bottom: 20px;
}
.box1 p{
  
  font-size: 20px;
  line-height: 36px;
}
.box2{
  margin-top: 20px;
 
}
.box2 img{
  width: 100%;
  height: auto;
 border: 3px solid black;
  border-radius: 10px;
  margin-left: -150px;
}
@media screen and (max-width:1000px) {
  .box2 img{
    margin: 0;
  }
}
.box3{
  margin-top: 30px;
  padding: 10px 0 0 0px;
  /* background: #0a193b; */
  /* margin:20px; */
  margin-top:40px;
  position:absolute;
  margin-left: -0;
}
.box3 img{
  /* width:100%;
 height: 330px; */
 border: 3px solid black;
  border-radius: 10px;
  margin-left: 50px;
  
}
.box4{
  
  width: 100%;
  margin-top: 30px;
  padding: 40px 150px 40px 20px ;
  border-radius: 20px 20px;
  background: blanchedalmond;
}
.box4 h1,p{
  padding-left: 50px;
}
.box4 h1{
  text-align: center;
  padding-bottom: 20px;
}
.box4 p{
  
  font-size: 20px;
  line-height: 35px;
}
.darea{
  padding: 60px 0;
  background-color: white;
}
.darea p{
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
/* .darea h3{
  text-align: center;
  font-weight:light;
  font-size: 45px;
  font-family: cursive;
  padding-bottom: 30px; 
}*/
.boxes{
  margin: 15px ;
}
.boxes img{
  width: 100%;
  height: auto;
}
.btn{
  margin: 20px 0;
  background: orangered !important;
}
.footer1{
  padding: 20px 0;
  background-color: white;
}
.boxex img{
  width:100%;
  height: auto;
}



section {
  padding-top: 4rem;
  padding-bottom: 5rem;
  background-color: #f1f4fa;
}
.wrap {
  display: flex;
  background: white;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
  margin-bottom: 2rem;
}

.wrap:hover {
  background: linear-gradient(135deg,#6394ff 0%,#0a193b 100%);
  color: white;
}

.ico-wrap {
  margin: auto;
}

.mbr-iconfont {
  font-size: 4.5rem !important;
  color: #313131;
  margin: 1rem;
  padding-right: 1rem;
}
.vcenter {
  margin: auto;
}

.mbr-section-title3 {
  text-align: left;
}
h2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.display-5 {
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 1.4rem;
}
.mbr-bold {
  font-weight: 700;
}

.footer2 p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 25px;
}
.display-6 {
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 1re}

  .footerarea{
    /* padding: 5px 0; */
    background: url('img/footer1.webp');
    background-size: cover;
  }
  .footerarea h4{
    color: white;
    font-size: 30px;
    padding-top: 20px;
  }
  .footerarea p{
    color: white;
    padding:20px 20px 20px 0;
    font-size: 20px;
    font-weight: bold;
  }

  .tarea{
    background: rgba(0,0,0,0.9);
  }
  .foot h5{
    color: white;
    font-size: 25px;
    padding: 15px 0;
  }
  .foot ul li{
    list-style: none;
  }
  .foot ul li a{
    color: white;
    text-decoration: none;
    
  }
  .foot ul li a:hover{
   
    color: violet;
  }
  .foot ul li a i{
    margin-right: 10px;
    
  }